@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #121212;
  --button: #212121;
  --button-hover: #313131;
  --button-secondary: #f2f2f2;
  --button-secondary-hover: #e2e2e2;
  --border: #ddd;
  --accent: 207 100% 93%;
  --text-primary: #121212;
  --text-secondary: #4a4a4a;
  --text-hover: #121212ee;
}

.dark {
  --background: #121212;
  --foreground: #ffffff;
  --button: #f2f2f2;
  --button-hover: #fff;
  --button-secondary: #171717;
  --button-secondary-hover: #191919;
  --border: #222;
  --accent: 0 0% 15%;
  --text-hover: #ffffffee;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-feature-settings:
    "ss02" on,
    "liga" off;
  scroll-behavior: smooth;
}

/* .dark body {
  background-color: var(--background);
  color: var(--foreground);
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background: hsl(var(--accent));
  color: #008cff;
}

.dark ::selection {
  background: hsl(var(--accent));
  color: #fff;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 0.5s forwards;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 100px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #212121;
}
::-webkit-scrollbar-track {
  background: transparent;
}
