@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #121212;
  --button: #212121;
  --button-hover: #313131;
  --button-secondary: #f2f2f2;
  --button-secondary-hover: #e2e2e2;
  --border: #ddd;
  --border-hover: #ccc;
  --accent: 207 100% 93%;
  --text-primary: #121212;
  --text-secondary: #4a4a4a;
  --text-secondary-hover: #3a3a3a;
  --text-hover: #121212ee;
  --scroll-color: #c9c9c9;
  --scrollbar-thumb: var(--scroll-color);
  --scrollbar-track: transparent;
}

.dark {
  --background: #121212;
  --foreground: #ffffff;
  --button: #f2f2f2;
  --button-hover: #fff;
  --button-secondary: #171717;
  --button-secondary-hover: #191919;
  --border: #222222;
  --border-hover: #333;
  --text-secondary: #777;
  --text-secondary-hover: #aaa;
  --accent: 0 0% 15%;
  --text-hover: #ffffffee;
  --scroll-color: #292929;
}

html {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-feature-settings:
    "ss02" on,
    "liga" off;
  scroll-behavior: smooth;
}

/* .dark body {
  background-color: var(--background);
  color: var(--foreground);
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background: hsl(var(--accent));
  color: #008cff;
}

.dark ::selection {
  background: hsl(var(--accent));
  color: #fff;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 0.5s forwards;
}

.container {
  max-width: 100vw;
}

@media (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media (min-width: 850px) and (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 12px;
  }
}
@media (max-width: 850px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 12px;
  }
}

@media (max-width: 500px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
  }
}
