/* index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    font-family: 'UncutSans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'UncutSans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefefe;
}

::selection {
    background: #121212;
    color: #f9f9f9;
}

pre {
    background-color: #0f1012 !important;
    padding: 4px 12px !important;
}

pre ::selection {
    background: #000;
    color: inherit;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    /* scrollbar-width: none;  */
}

.hide-scrollbar:hover::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.hide-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 999px;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.circular-fadeout {
    mask-image: radial-gradient(circle,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 1) 75%);
    mask-size: cover;
}

.responsiveSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media (max-width:1279px) {
    .responsiveSection {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (min-width:768px) and (max-width:840px) {
    .responsiveSection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}

@media (max-width:640px) {
    .responsiveSection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}

@media (max-width:384px) {
    .xsm {
        font-size: 14px;
        gap: 0.2rem;
    }
}

@keyframes drawLine {
    0% {
        /* transform: translateX(-100%); */
    }
    100% {
        /* transform: translateX(100%); */
    }
}

.line-animation {
    
        transform: translateX(100px);
    animation: drawLine 10s linear infinite;
    overflow: hidden; /* Hide the sudden re-entry */
}
