/* index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    font-family: 'UncutSans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'UncutSans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefefe;
}

::selection {
    background: #121212;
    color: #f9f9f9;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    /* scrollbar-width: none;  */
}

.hide-scrollbar:hover::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.hide-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 999px;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.circular-fadeout {
    mask-image: radial-gradient(circle,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 1) 75%);
    mask-size: cover;
}

.rectangle {
    /* -webkit-backdrop-filter: blur(10px) brightness(100%); */
    /* backdrop-filter: blur(10px) brightness(100%); */
    /* gardient to down */
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
    inset: -8px 0px -92px;
    /* border-radius: 298.5px; */
    /* filter: blur(20px); */
    position: absolute;
    height: 59px;
    width: 100%;
    top: 0px;
    left: 0px;
    }