/* index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Haskoy', sans-serif;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Haskoy';
    font-weight: 300;
    src: url('./src/assets/fonts/Haskoy-Light.woff2') format('woff');
}

@font-face {
    font-family: 'Haskoy';
    font-weight: 400;
    src: url('./src/assets/fonts/Haskoy-Regular.woff2') format('woff');
}

@font-face {
    font-family: 'Haskoy';
    font-weight: 500;
    src: url('./src/assets/fonts/Haskoy-Medium.woff2') format('woff');
}

@font-face {
    font-family: 'Haskoy';
    font-weight: 600;
    src: url('./src/assets/fonts/Haskoy-SemiBold.woff2') format('woff');
}

@font-face {
    font-family: 'Haskoy';
    font-weight: 700;
    src: url('./src/assets/fonts/Haskoy-Bold.woff2') format('woff');
}

::selection {
    background: #121212;
    color: #f9f9f9;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    /* scrollbar-width: none;  */
}

.hide-scrollbar:hover::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.hide-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 999px;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.circular-fadeout {
    mask-image: radial-gradient(circle,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 1) 75%);
    mask-size: cover;
}